@media (max-width: 71.5625em) {
    .box-left {
        width: 65vw;
    }

    .box-right {
        width: 35vw;
    }
}

@media (max-width: 56.25em) {
    .box-right {
        display: none;
    }

    .box-left {
        width: 100vw;
    }
}

@media (max-width: 37.5em) {
    .box-center {
        flex-direction: column;
        min-height: 28.125em;
    }

    .logo {
        max-width: 18.75em;
        margin-top: 1em;
    }
}
