@media (max-width: 1145px)
{
 .box-left {
    width: 65vw;
 }

 .box-right {
    width: 35vw;
 }
}

@media (max-width: 900px) {
    .box-right {
        display: none;
    } 

    .box-left {
        width: 100vw;
     }
}

@media (max-width: 600px) {
    .box-center{ 
        flex-direction: column;
        min-height: 450px;
    }
    .logo {
        max-width: 300px;
        margin-top: 1em;
    }
}
