* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

label {
    font-weight: bold;
    margin-top: 1.875em;
    color: hsl(0, 0%, 0%);
}

input {
    width: 70%;
    min-height: 1.875em;
    border: none;
    border-radius: 0.3125em;
    margin-top: 0.3125em;
    background-color: hsl(0, 0%, 81%);
    padding-left: 0.3125em;
}

.box-left {
    text-align: center;
    height: 100vh;
    width: 50vw;
    background-color: hsl(240, 67%, 98%);
}

.box-left img {
    width: 25em;
    margin-top: 3em;
}

.box-right {
    height: 100vh;
    width: 50vw;
    background-color: hsl(232, 93%, 34%);
    background-image: url(/src/img/9c6f97db-0b4b-4a82-a3e5-f95e8a94cd9c.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-center {
    height: 12.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-interno {
    background-color: hsl(52, 100%, 94%);
    border: 0.125em solid hsl(232, 93%, 34%);
    border-radius: 0.3125em;
    box-shadow: 0.625em 0.625em 1.5625em hsl(0, 0%, 57%);
    width: 15.625em;
    height: 5.625em;
    margin: 0.9375em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quadrado img {
    border-radius: 0.3125em;
    position: relative;
    width: 3.125em;
    right: 7.5em;
    bottom: 2.5em;
    margin: 0;
}

.tabela-inicio {
    justify-content: center;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    box-shadow: 0.3125em 0.3125em 0.3125em hsla(0, 0%, 0%, 0.635);
}

.tabela {
    text-align: justify;
    margin-top: 2em;
    margin-bottom: 2em;
}

.cinza {
    background-color: hsl(0, 0%, 79%);
}

thead {
    background-color: hsl(232, 93%, 34%);
    height: 1.5625em;
    border-radius: 0.3125em;
}

thead th {
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.0625em;
    padding-left: 0.625em;
}

tbody td,
tbody th {
    padding-left: 0.625em;
}

.bnt {
    height: 3.125em;
    width: 7.5em;
    border-radius: 0.3125em;
    background-color: hsl(232, 93%, 34%);
    border: none;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: all .6s;
    margin-top: 1em;
}

.bnt:hover {
    background-color: hsl(232, 100%, 50%);
    box-shadow: 0.0625em 0.0625em 3.125em hsl(232, 100%, 50%);
}
